body 
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
    font-family: Verdana;
    background-color: #074e94;    
}

.container  
{
    width: 320px;
    margin-left: 0;
    margin-right: 0;
}

#header,#headerimg 
{ 
    float: left;
    width: 100px;
    height: auto;
    padding: 5px;
    margin: 0;

}

#current
{
    width: 0px;
    height: 0px; 
}

#header
{
    width: 310px;
    background: #FFCC66;
}



#header h1 
{
    font-family: 'Volkhov', serif;
    font-size: 1.3em;
    color: #cc0033;
    margin: 0px;
    padding:0px;

}

h2 
{
    font-size: 1.95em;
    text-align: center;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    
}

.motto
{
    float: right;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #993300;
    margin: 0;
    top: 20px;
}

nav 
{	
    margin: 0 auto;	
    max-width: 80em; 
    background-color: #ff9901;
    text-align: center;
}

.navigation 
{ 
    list-style: none;
    text-align: center;
    background-color: #ff9901;
    text-align: center; 
}

.navigation li:first-child 
{ 
    display: block;
}

.navigation li 
{ 
    display: none;
}

.navigation a 
{	
    display: block;	
    color: #000000; 
    padding: .75rem;	
    text-align: center;	
    text-decoration: none;
}

.navigation a:hover 
{	
    color: #000; 
    background-color: rgba(218, 233, 211, 0.692); 
    font-weight: 700;	
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li 
{ 
    display: block; 
}

/* Media Query for medium + screens */
@media only screen and (min-width: 45em) 
{
    .navigation li:first-child 
    { 
        display: none;	
    }

    .navigation li 
    { 
        display: inline-block; 
        margin-right: 1rem;
    }

    .navigation li a 
    { 
        color: white;
    }
}
 /*End of the nav bar */

ul
{
    list-style-type: none;
    text-align: center;
    font-family: Georgia, sans-serif;
    font-size: 1.4em;
    margin: 0;
    border: 0;
    padding: 0;
    width: 310px;

}

li a
{
    display: block;
    color: rgb(201, 255, 102);
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: red;
    color: white;
}

.artical
{
    margin: 5px;
    border: 25px;
    padding: 25px;
    width: 50em;
}

h4
{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

img
{
    width: 320px;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0;
}

.grid 
{
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 250px;
    grid-gap: 5px;

}

#gridwidth
{
    width: 235px;
    height: 183.05px;
}

.norm:hover
{
    box-shadow: 0 0 50px #333;
}

figure
{
    margin: 0px;
}

figcaption
{
    font-size: small;
    color: white;
}

/* located in stormcenter.html */
form
{
    
}

#headimg
{
    width: 270px;
    height: auto;
    float: left;
}

header, footer 
{
    margin: 1.25rem ;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a 
{
    text-align: center;
    background-color: #ff9900;
}

footer 
{
    font-size: 13px;
    
}